{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <div class="container-fluid">
    <div class="card">
        <h1>Gift Appy</h1>

        <h3>Give get happily</h3>

        <img src="https://cdn-icons-png.flaticon.com/512/1180/1180245.png" alt="Giving a gift icon">

        <button type="button" class="btn btn-success"><a href="{% url 'account_login' %}" aria-label="Log in button">LOGIN</a></button>

        <button type="button" class="btn btn-success"><a href="{% url 'account_signup' %}" aria-label="Sign up button">SIGNUP</a></button>

        <button type="button" class="btn btn-success mb-3"><a href="forgot-password.html" aria-label="Forgot password button">FORGOT PASSWORD</a></button>
    </div>
</div> -->
<!-- nav-bar -->
<nav class="navbar fixed-top ">
    {% include 'includes/main_nav.html' %}
</nav>
<!-- Hero pages -->
<section class="container-fluid hero m-0 p-0">
    <div class="row m-0 p-0 ">
        <div class="col-12 col-md-10 col-lg-8 m-auto hero-div m-0 p-0 ">
            <div class="hero-text text-center m-0 p-0">
                {% if request.user.is_authenticated %}
                <h1 class="headding my-3 mx-0 text-center px-4">welcome {{user.username}}</h1>
                <p class="px-4">See what your friends are up to or make a wish list!</p>
                {% else %}
                <h1 class="headding my-3 mx-0 text-center px-4">We hope you have a safe and relaxing holiday season.</h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{% include 'includes/footer.html' %}
{% endblock %}