{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- nav-bar -->
<nav class="navbar fixed-top ">
    {% include 'includes/main_nav.html' %}
</nav>
<!-- Hero pages -->
<section class="container-fluid hero m-0 p-0">
    <div class="row m-0 p-0 ">
        <div class="col-12 col-md-10 col-lg-8 m-auto hero-div m-0 p-0 ">
            <div class="hero-text text-center m-0 p-0">
                {% if request.user.is_authenticated %}
                <h1 class="headding my-3 mx-0 text-center px-4">welcome {{user.username}}</h1>
                <p class="px-4">See what your friends are up to or make a wish list!</p>
                <div class="text-end px-4">
                    <a class="fs-1 pe-2" href=""><span class="border-0" data-bs-toggle="tooltip"
                            data-bs-placement="left" data-bs-title="View Your Friends List"><i class="fas fa-users"></i></span></a>

                    <a class="fs-1 pe-2" href="{% url 'wishlist' %}"><span class="border-0" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-title="Find Friends!"><i class="fas fa-praying-hands"></i></span></a>

                    <a class="fs-1" href="{% url 'wishlist' %}"><span class="border-0" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-title="View Your Wish List"><i class="fas fa-gifts"></i></span></a>
                </div>
                {% else %}
                <h1 class="headding my-3 mx-0 text-center px-4">We hope you have a safe and relaxing holiday season.
                </h1>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- footer -->
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{block.super}}
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}
