{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- nav-bar -->
<nav class="navbar fixed-top ">
    {% include 'includes/main_nav.html' %}
</nav>

<!-- main pages -->
<section class="container">
    <div class="row">
        <div class="p-5"></div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="px-5">Hi {{user.username}}</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4  g-4 mt-3">
        <!-- friend cards -->
        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="{{ MEDIA_URL }}wolf-clan.jpg" class="img-fluid rounded-start" alt="..."
                            style="width: 100px;">
                    </div>
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        <div class="">
                            <p class="card-title"><small class="mb-3"><strong>MaryWippysgdsafhdshfsg</strong></small></p>
                            <div class="text-center">
                                <a class="pe-4" href=""><i class="fas fa-gifts"></i></a>
                                <!-- <span><small><strong>Follow</strong></small></span> -->
                                <span><small><strong>UnFollow</strong></small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- footer -->
{% include 'includes/footer.html' %}
{% endblock %}