{% extends "base.html" %}
{% load static %}

{% block extra_title %}Profile{% endblock %}

{% block content %}
<!-- nav-bar -->
<nav class="navbar fixed-top ">
    {% include 'includes/main_nav.html' %}
</nav>

<!-- main pages -->
<section class="container">
    <div class="row">
        <div class="p-5"></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 m-auto profile-header">
            <a class="text-decoration-none nav-link fs-4 profile-edit" href="{% url 'edit_profile' %}"> <i class="fas fa-edit"></i></a>
            <div class="profile-txt text-end">
                <div class="bg-dark profile-box">
                    {% if user.userprofile.image %}
                    <img src="{{ user.userprofile.image.url }}" class="img-fluid rounded-start " alt="User Profile Picture...">
                    {% else %}
                    <img src="{{ MEDIA_URL }}wolf-clan.jpg" class="img-fluid rounded-start profile-pic" alt="User Profile Picture...">
                    {% endif %}
                </div>
                <h1 class="">welcome {{user.username}}</h1>
                <p class="text-end"><span class="pe-4"><strong>{{user.userprofile.number_of_follows}}</strong> Following</span> <span><strong>{{follows.count}}</strong> Followers</span></p>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4  g-4 mt-3">
        <!-- friend cards -->
        {% for follow in follows %}
        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div class="col-4">
                        {% if follow.user.userprofile.image %}
                        <img src="{{ follow.user.userprofile.image.url }}" class="img-fluid rounded-start" alt="..." style="width: 100px;">
                        {% else %}
                        <img src="{{ MEDIA_URL }}wolf-clan.jpg" class="img-fluid rounded-start" alt="..." style="width: 100px;">
                        {% endif %}
                    </div>
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        <div class="">
                            <p class="card-title"><small class="mb-3"><strong>{{ follow }}</strong></small>
                            </p>
                            <div class="text-center d-flex">
                                <a class="pe-4" href=""><i class="fas fa-gifts"></i></a>

                                {% if user.is_authenticated %}
                                <!-- like post form  -->
                                <form action="{% url 'follow' follow.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if follow.user.userprofile.follows.count %}
                                    <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart follow-unfollow"></i><span> {{ post.number_of_likes }}</span></button>
                                    {% else %}
                                    <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart"></i><span> {{ post.number_of_likes }}</span></button>
                                    {% endif %}
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<!-- footer -->
{% include 'includes/footer.html' %}
{% endblock %}
